@model IEnumerable<WT.Models.Product>

@{
    ViewBag.Title = "Products";
}
<link rel="stylesheet" href="~/wwwroot/css/ProductList.css" />

    @foreach (var item in Model)
    {
        <div class="Product-Div">
            <div class="Product-Image"><img class="Image" src="~/wwwroot/Images/SanPham/@Html.DisplayFor(modelItem =>item.Image)"  /></div>
            
            <div class="Detail">
                <h3>@Html.DisplayFor(modelItem => item.Name)  <br /></h3>


                <h5 class="Price">@Html.DisplayFor(modelItem => item.Price) đ<br /></h5>

                <h5>Độ tuổi: @Html.DisplayFor(modelItem => item.Age)<br /></h5>

                <h5>@Html.ActionLink("Xem sản phẩm", "ProductDetail", new { id = item.Id })</h5>


            </div>

            </div>
    }

<style>
    .Price {
        color: #E63314;
        font-size:1.5rem;
    }
    h3 {
        color:#00AA95;
    }
    .Image{
        max-width:10rem;
        height:auto;
        image-rendering:auto;
        overflow:auto;

    }
    .Product-Div{
        height:11rem;
        margin: 2rem 0 -2.5rem 0;
    }
    .Product-Image {
        margin: 1rem 0 0 0;
    }
    .Detail{
        margin: 1rem 0 0 1rem;
    }
</style>
