@model WT.Models.Product

@{
    ViewBag.Title = "ProductDetail";
}

<div class="Product-Details">
    <div class="Product-Image"><img style="width: 25rem; height: 25rem; border: 0.1px solid black; border-radius:10px;  " src="~/wwwroot/Images/SanPham/@Html.DisplayFor(model =>model.Image)" /></div>
    <div class="Product-Detail">
        <h1>@Html.DisplayFor(model => model.Name)  <br /></h1>

        <h1 class="Product-Price">@Html.DisplayFor(model => model.Price) đ<br /></h1>
        <h1>Độ tuổi: @Html.DisplayFor(model => model.Age) </h1>
        @*<input type="button" class="btn btn-info" value="Let's Go!" onclick="location.href='@Url.Action("Action", "Controller")'" />*@

        @*@Html.ActionLink("Thêm vào giỏ", "Cart", "Home", new { id = item.Id }, new { @class = "btn btn-primary" })*@

    </div>
</div>

<style>
    .Product-Details {
        display: flex;
        margin: 1rem 0 0 0;
    }
    .Product-Detail{
        margin: 0 0 0 1.5rem;
    }
    h1 {
        font-size: 1.5625rem;
    }
    .Product-Price {
        color: #00AA95;
    }
</style>